@import "tailwindcss";

:root {
  --bg: white;
  --text: black;
}

[data-theme="dark"] {
  --bg: #111;
  --text: white;
}

[data-theme="blue"] {
  --bg: #e0eeff;
  --text: #002c99;
}

/* Apply colors */
body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

